body{
    padding: 0;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    background-color: #FFFDFB;
}
.navigation{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    padding: 10px;
}
.navigation__item{
    display: inline-block;
    flex-basis: 15%;
    aspect-ratio: 5/1;
    padding: 10px 10px;
    background-color: #0881A3;
    color: #FFFDFB;
    font-size: 35px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center; 
    border-radius: 16px;
}
.navigation__link{
    text-decoration: none;
}
.navigation__link:visited{
    text-decoration: none;
    color: #FFFDFB;
}
.title{
    color: #0881A3;
    font-size: 50px;
    text-align: center;
}